
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Member Info Here-->
<!--Player Button Group-->
<!--Awaiting connection to links-->
<div style="text-align:center;margin-top: 15px;">
    <button id="laddersButton" class="k-primary">My Ladders</button>
    <button id="searchPlayersButton" class="k-primary">Search Players</button>
    <button id="requestButton" class="k-primary">Request to become a Player</button>
</div>

