
@{
    ViewBag.Title = "Challenges";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;">Your Challenges</h2>

<!--Player Challenges Button Group-->
<!--Awaiting connection to links-->
<div style="text-align:center;margin-top: 15px;">
    <button id="viewButton" class="k-primary">View</button>
    <button id="confirmButton" class="k-primary">Confirm</button>
    <button id="declineButton" class="k-primary">Decline</button>
    <button id="messageButton" class="k-dark">Message</button>
    <button id="inputButton" class="k-dark">Input</button>
    <button id="requestButton" class="k-dark">Request</button>
</div>

