
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Player Info Here-->

<!--Player Button Group-->
<!--Awaiting connection to links-->
<div style="text-align:center;margin-top: 15px;">
    <button id="challengesButton" class="k-primary">My Challenges</button>
    <button id="laddersButton" class="k-primary">My Ladders</button>
    <button id="searchPlayersButton" class="k-primary">Search Players</button>
</div>
