
@{
    ViewBag.Title = "Ladder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Button Group for ladder view-->
<!--Connection Links are still not established-->
<div style="text-align:center;margin-top: 15px;">
    <button id="leaveLadderButton" class="k-primary">Leave</button>
    <button id="joinLadderButton" class="k-primary">Request Join</button>
</div>